.result-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.resultAll {
  font-weight: 800;
  color: #234e09;
  font-size: 20px;
  margin: 15px 0px;
}
