.tree-select {
  border-color: #234e09;
  border-radius: 5px;
  border-width: 3px;
  border-style: solid;
}

@media (max-width: 400px) {
  .tree-select {
    border-color: #234e09;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
  }
}
