.left-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* height: 200vh; */
  width: 100%;
  border-style: none;
  column-gap: 0px;
}

.navigasi {
  width: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.category-title {
  display: flex;
  align-items: flex-start;
  color: rgb(171, 230, 213);
  font-size: xx-large;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  margin-left: 1em;
  margin-top: 1em;
}

.category-subtitle {
  display: flex;
  color: white;
  justify-items: flex-start;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.search-result {
  display: flex;
  color: rgb(243, 208, 208);
  justify-items: flex-start;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
